@import "../../app.component";
div img {
    max-width: 20%;
    height: auto;
    float: left;
    }

 div .data-edition {
    display: block;
    color: white;
}

h3, h2, label {
    color: white;
}

button {
    text-align: right;
}