<div>
  <h3>Dish details control </h3>
  <form [formGroup]="dishData" (ngSubmit)="updateDish()">
    <h2>Dish details</h2>
    <div class="data-edition">
      <div>
        <img [src]="dish.icon">
      </div>
      <div><label for="">Id: </label>
        <input name="id" formControlName="id" disabled=true type="text">
      </div>
      <div><label for="">Name: </label>
        <input name="name" formControlName="name" disabled=true type="text">
      </div>
      <div><label for="">Type: </label>
        <input name="type" formControlName="type" disabled=true type="text">
      </div>
      <div><label for="">Price: </label>
        <input name="price" formControlName="price" disabled=true type="text">
      </div>
      <div><label for="">Details: </label>
        <input name="details" formControlName="details" disabled=true type="text">
      </div>
      <div><span>available: </span>
        <input formControlName="available" type="checkbox">
      </div>
    </div>
    <button type="submit">Save changes</button>
  </form>
</div>