@import "../../app.component";

.order {
    border: solid 1px white;
    display: inline-block;
    border-radius: 10px;
    color: white;
}

h3 {
    border: 1px solid green;
    background-color: green($color: #4bdf3e);
    text-align: center;
    color: green;
}

