<div class="order-item">
  <span>
    <label>price: </label>{{order.price}}
  </span>
  <span>
    <label>city: </label>{{order.addressDelivery.city}}
  </span>
  <span>
    <label>street: </label>{{order.addressDelivery.street}}
  </span>
</div>