<div class="dish">
  <div>
    <div>
      <div>
        <img [src]="dish.icon" routerLink="/item-detail/{{dish.id}}">
      </div>
      <label>Dish name: </label>{{dish.name}}
    </div>
    <div>
      <label>Dish price [PLN]: </label>{{dish.price}}
    </div>
    <button *ngIf="getLogInStatus()==false" href="#" (click)="addToCart(dish, $event)">Add to cart</button>
  </div>
</div>