<div class="cart">
    <h3>Cart items: </h3>
    <div class="dish" *ngFor="let dish of orderService.getCart()">
        <div>
            <div>
                <img [src]="dish.icon">
            </div>
            <label>Dish name: </label>
            {{dish.name}}
        </div>
        <div>
            <label>Dish price [PLN]: </label>
            {{dish.price}}
        </div>
    </div>
    <div class="price"><label for="">Order price [PLN]: </label>{{orderService.getOrderPrice()}}</div>
    <button routerLink="/order">Order</button>
</div>