<h3>Order summary</h3>
<div class="order-detail">
  <div>    
    <form [formGroup]="orderData">
        <div><label for="">Price: </label>
        <input name="price" formControlName="price" disabled=true type="text">
      </div>
      <div><label for="">Date: </label>
        <input name="date" formControlName="date" disabled=true type="text">
      </div>
      <div><label for="">Time: </label>
        <input name="time" formControlName="time" disabled=true type="text">
      </div>
        <h3>Address of delivery:</h3>
      <div formGroupName="addressDelivery">
        <div><label for="">City: </label>
          <input name="city" formControlName="city" disabled=true type="text">
        </div>
        <div><label for="">Street: </label>
          <input name="street" formControlName="street" disabled=true  type="street">
        </div>
        <div><label for="">Building No: </label>
          <input name="buildingNo" formControlName="buildingNo" disabled=true type="buildingNo">
        </div>
        <div><label for="">Flat No: </label>
          <input name="flatNo" formControlName="flatNo" disabled=true type="flatNo">
        </div>
        <div><label for="">Zip Code: </label>
          <input name="zipCode" formControlName="zipCode" disabled=true typer="zipCode">
        </div>
      </div>
    </form>
  </div>
</div>