@import "../../app.component";

div .dish {
    display: inline-block;
}

input{
    &.ng-invalid{
        border: 2px solid red;
    }
    &.ng-valid{
        border: 2px solid green;
    }
}

.order {
    border: solid 1px white;
    display: inline-block;
    border-radius: 10px;
    color: white;
}