<div class="order">
    <h3>Order summary:</h3>
    <div class="dish" *ngFor="let dish of orderService.getCart()">
        <div>
            <div>
                <img [src]="dish.icon">
            </div>
            <label>Dish name: </label>
            {{dish.name}}
        </div>
        <div>
            <label>Dish price [PLN]: </label>
            {{dish.price}}
        </div>
    </div>
    <div>
        <div class="price"><label for="">Total cost [PLN]: </label>{{orderService.getOrderPrice()}}</div>
        <h3>Address of delivery:</h3>
        <form [formGroup]="orderData" (ngSubmit)="confirmOrder()">
            <div formGroupName="addressDelivery">
                <div><label for="">City: </label>
                    <input name="city" formControlName="city"  type="text">
                </div>
                <div><label for="">Street: </label>
                    <input name="street" formControlName="street" type="text">
                </div>
                <div><label for="">Building No: </label>
                    <input name="buildingNo" formControlName="buildingNo" type="text">
                </div>
                <div><label for="">Flat No: </label>
                    <input name="flatNo" formControlName="flatNo" type="text">
                </div>
                <div><label for="">Zip Code: </label>
                    <input name="zipCode" formControlName="zipCode" type="text">
                </div>
            </div>
            <button type="submit" *ngIf="getOrderConfirmationStatus()==false" [disabled]="orderData.invalid">Confirm</button>
        </form>
    </div>
</div>