<div class="item-container">
  <button (click)="loadDishes()">All dishes</button>
  <button (click)="loadOrders()">All orders</button>
  <app-item *ngFor="let dish of dishes" [dish]="dish" routerLink="/item-detail/{{dish.id}}"></app-item>
  <app-order-item *ngFor="let order of orders" [order]="order" routerLink="/order-detail/{{order.id}}"></app-order-item>
</div>