<header>
  <button routerLink="item-list" *ngIf="getLogInStatus()==false" routerLinkActive="active">Main Page</button>
  <button routerLink="admin" *ngIf="getLogInStatus()==true" routerLinkActive="active">Main Page</button>
  <button routerLink="cart" *ngIf="getLogInStatus()==false" routerLinkActive="active">Your cart</button>
  <button routerLink="login" *ngIf="getLogInStatus()==false" routerLinkActive="active">Log in</button>
  <button routerLink="login" *ngIf="getLogInStatus()==true" routerLinkActive="active">Logout</button>
</header>

<body>
  <div>
    <h1>
      You can order your pizza on {{ title }}
    </h1>
  </div>
  <router-outlet></router-outlet>
</body>