@import "../styles";

div img {
    max-width: 20%;
    height: auto;
    float: left;
    padding: 5px;
    }
    
header {
    text-align: right;
}

h1 {
    text-align: center;
    color: red;
    font-family: cursive;
}

.price {
    font-weight: bold;
}

button {
    background-color: red($color: #c51835);
    border-radius: 7px;
    color: white;

}

