<div class="login-app">
  <input *ngIf="getLogInStatus()==false" placeholder="login" [(ngModel)]="login"/>
  <input *ngIf="getLogInStatus()==false" placeholder="password" type="password" [(ngModel)]="password"/>
  <button *ngIf="getLogInStatus()==false" (click)="onLoginEventHandler()">Log In</button>

  <h3 *ngIf="getLogInStatus()==true">You are logged in. If you want to logout click on "Logout" button. </h3>
  <button *ngIf="getLogInStatus()==true" (click)="onLogoutEventHandler()">Logout</button>
</div>