<div class="item-container">
  <button (click)="loadPizzas()">Pizzas</button>
  <button (click)="loadPastas()">Pastas</button>
  <button (click)="loadBevarages()">Bevarages</button>
  <button (click)="loadDishes()" >All dishes</button>
  <app-item  *ngFor="let dish of dishes" [dish]="dish" (added)="addToCart($event)"></app-item>
</div>